.logo {
  margin-top: 32px;
  margin-bottom: 16px;
  height: 96px;
}

.link-container {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
}

.link-container .link-item {
  flex: 1;
}

.md-theme-default.md-button:not([disabled]).md-raised:not(.md-icon-button).md-facebook {
  background-color: #3B5998;
  color: #FFFFFF;
}

.md-theme-default.md-button:not([disabled]).md-facebook {
  color: #3B5998;
}

.md-theme-default.md-button:not([disabled]).md-raised:not(.md-icon-button).md-google {
  background-color: #DD4B39;
  color: #FFFFFF;
}

.md-theme-default.md-button:not([disabled]).md-google {
  color: #DD4B39;
}
